<div class="card">
  <div class="card-body">
    <h4>Profile</h4>
    <div id="savedArmorSets">
      {{#if armorSets}}
        <h5>Saved Armor Sets:</h5>
        <ul>
          {{#each armorSets}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{else}}
        <p>No armor sets saved.</p>
      {{/if}}
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
